body{
    margin:0;
    background-color:rgb(177, 177, 177);
}

#container{  
    /* border: 1px solid red; */
    display:grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 3em 1.5em 9fr 2fr 1fr;
}

/* Header ---------------------- */

#header{
    grid-column:1/6;
    display:flex;
    justify-content:space-between;
    background-color:rgb(14, 27, 148);     
}

#header .left{
    display:flex;
    gap:.5em;
    align-items:center;
    justify-content:center;
    padding-left: .5em;;
}

#header .left img{
    height:40px;
    width:40px;

}

#header .title{
    display:flex;
    align-items: center;
    font-size:1.25em;
    font-weight: bold;
    color:rgb(210, 210, 210);
}

#header .right{
    display:flex;
    gap:1em;
    font-weight: bold;
    align-items: center;
    padding-right: 1em;

}

.right button{
    background-color: rgb(177, 177, 177);
    padding:0 .5em 0 .5em;
    height:1.5em;
    display:flex;
    justify-content:center;
    align-items:center;
    box-shadow: 1px 1px 2px gray;
}

/*Menus ------------------------*/

#menus{
    /* border:5px solid red; */
    grid-column:1/6;
    display:flex;
    flex-direction:row;
    gap:1.5em;
    align-items:center;
    margin-bottom: 5px;
}

.menu{
    text-decoration: none;
    color:black;
}

/* middle---------------------- */
#middle{
    grid-column: 1/6;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}

/* Size Panel------------------- */
#size-panel{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    padding: 0px 5px 0px 5px;
}

#size-panel p{
    text-align: center;
    grid-row: 1/2;
    font-size:2em;
    text-decoration: underline;
}

#size-panel #size-buttons{
    grid-row:2/3;
    display:flex;
    flex-direction: column;
    gap:1em;
    font-size:2em;
}

#size-panel button{
    font-size:.75em;
    border-radius: 10px;
    background-color: rgb(101, 101, 101);
    color: antiquewhite;
    box-shadow:2px 2px rgb(74, 74, 74);
    padding:10px;
}

#custom p{
    font-size: 1.05em;
    font-weight: 600;
    margin-bottom: 2px;
}

#custom input{
    font-size:1em;
    border-radius: 5px;
}

/* Paint Panel------------------ */
#paint-panel{
    border:2px solid black;
    margin-right:4px;
    grid-column:3/6;
    height:550px;
    width:550px;
}

/* COLORS----------------------- */
#colors{
    grid-column:1/6;
    display:flex;
    flex-direction: column;
    gap:20px;
}

#colors p{
    font-size:2em;
    text-decoration: underline;
    padding: 0;
    margin: 0;
}

#color-buttons{
    display:flex;
    justify-content: space-around;
}

#colors button{
    background-color: antiquewhite;
    color: rgb(60, 59, 59);
    box-shadow:2px 2px rgb(74, 74, 74);
    font-size:22px;
    border-radius: 10px;
}

#footer{
    grid-column:1/6;
}